@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>
<p>Welcome to the auctioneer demo. This demo shows the use of the highlevel hubs API that's part of the SignalR framework.</p>
<p>@Html.ActionLink("Click here","Index", new { controller = "Auctions" }) to see the running auctions.</p>
