@{
    ViewBag.Title = "Page not found?!";
}

<h2>Page not found?!</h2>
<p>Ooh crap, sorry about that, couldn't find what you were looking for. Actually, I completely forgot what you were asking.</p>
<p>So ehm, since you're here anyway... Can you check to see if you can find the thing through the <a href="/">homepage</a>?</p>
