@{
    ViewBag.Title = "Whooopsy daisy - Unhandled exception";
}

<h2>Whooopsy daisy - Unhandled exception</h2>
<p>Like they say in new york sh*t happens!</p>
<p>I think the hamster is having a break or he may have died. I don't know which, but I'll have Bob check up on him.</p>
<p>In the mean time, try the <a href="/">homepage</a> and see if things are turning out better from there.</p>
