@{
    ViewBag.Title = "general error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container_12 clearfix" id="content">
    <div class="grid_8">
        <h2>Oh, euhm, something must have gone really bad there</h2>
        <p>OKay, I admit, I screwed up. Might be really bad, but it could also be fixed in a few seconds.
        My suggestion: Try, try again. Or maybe</p>
        <ul>
            <li>Get me more coffee so I go fix it.</li>
            <li>Buy a roll of ducktape and hope for the best</li>
            <li>Feel sorry for me and browse other websites on the interwebs</li>
        </ul>
    </div>
</div>