@{
    ViewBag.Title = "Page not found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container_12 clearfix" id="content">
    <div class="grid_8">
        <h2>Page could not be found</h2>
        <p>Whoops, Bob ran off with this page and he's not going to give it back. 
        Although he is my virtual goldfish he's still a vicious monster and is probably eating the page right now.</p>
        <p>Best thing you can do is go back to the homepage and try to get to the location you wanted again. If that doesn't work
        here's a few things you can try</p>
        <ul>
            <li>Get a cat and attack Bob head-on</li>
            <li>E-mail me, explain me that Bob isn't real and ask me where the page is </li>
            <li>Laugh really hard and move along.</li>
        </ul>
    </div>
</div>